nav {
    --navbar-height:38px;
    box-sizing:content-box;
    height:var(--navbar-height);
}

.navigation-button {
    flex-shrink: 0;
    padding: 0.25rem;
    font-size: 1.25rem;
    border: none;
}

    .navigation-button:hover {
        color: #b2b2b2;
    }
    .navigation-button:disabled {
        color: #212529;
    }

::deep select {
    height: var(--navbar-height);
}

::deep input {
    height: var(--navbar-height);
}