.month-dropdown {
    display: none !important;
}

@media (max-width: 1395px) {
    .month-button {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}

@media (max-width: 1205px) {
    .month-button-group {
        display: none !important;
    }

    .month-dropdown {
        display: block !important;
    }
}