.page {
    --aside-width: 12rem;
}

.aside {
    width: var(--aside-width);
    height: 100%;
    background-color: var(--bs-light);
    position: fixed;
}

content {
    display: block;
    margin-left: var(--aside-width);
}

.navbar-vertical {
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 100%;
}

    .navbar-vertical .nav-link {
        padding-left: 0.5rem;
        margin-bottom: 0.25rem;
    }

    .navbar-vertical .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

        .navbar-vertical .navbar-nav .nav {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 0.5rem;
        }

        .navbar-vertical .navbar-nav .nav-pills .nav-link {
            margin-left: 1rem;
        }

            .navbar-vertical .navbar-nav .nav-pills .nav-link::before {
                content: "> ";
            }
