.client-table .form-check-input {
    transform: scale(1.5);
}

.client-table td .btn-icon {
    padding: 0;
    height: 22px;
    width: 22px;
}

.client-table table .column-small > div {
    min-width: 50px;
}

.client-table table .column-medium > div {
    min-width: 120px;
}

.client-table table .column-big > div {
    min-width: 150px;
}

td:has(>input[type='checkbox']) {
    text-align: center;
}

.suspended td {
    color: var(--bs-secondary);
}