.client-table table th:nth-child(1) {
    min-width: 50px;
}

.client-table table th:nth-child(2) {
    min-width: 150px;
}

.client-table table th:nth-child(3) {
    min-width: 120px;
}

.client-table table th:nth-child(4) {
    min-width: 120px;
}

.client-table table th:nth-child(5) {
    min-width: 120px;
}

.client-table table th:nth-child(6) {
    min-width: 75px;
}

.client-table table th:nth-child(7) {
    min-width: 150px;
}

.client-table table th:nth-child(8) {
    min-width: 90px;
}

.client-table table th:nth-child(9) {
    min-width: 75px;
}

.client-table table th:nth-child(10) {
    min-width: 75px;
}

.client-table table th:nth-child(11) {
    min-width: 75px;
}

.client-table table th:nth-child(12) {
    min-width: 75px;
}

.client-table table th:nth-child(13) {
    min-width: 150px;
}

.client-table table th:nth-child(14) {
    min-width: 75px;
}

.client-table table th:nth-child(15) {
    min-width: 75px;
}

.client-table table th:nth-child(16) {
    min-width: 130px;
}

.client-table table th:nth-child(17) {
    min-width: 130px;
}

.client-table table th:nth-child(18) {
    min-width: 100px;
}

.client-table table th:nth-child(19) {
    min-width: 100px;
}

.client-table table th:nth-child(20) {
    min-width: 30px;
}

td:has(>input[type='checkbox']) {
    text-align: center;
}

.suspended td{
    color: var(--bs-secondary);
}