@inject IJSRuntime JS

<div class="toast-container position-fixed bottom-0 end-0 p-3" data-bs-autohide="true">
    <div id="@Id" class="toast">
        <div class="toast-header">
            <strong class="me-auto">@Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string Title { get; set; } = "Toast";
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
    [Parameter]
    public string Id { get; set; } = "toastPopup";

    public ValueTask ShowAsync() => JS.InvokeVoidAsync("showToast", Id);
}
