<div class="relative h-100">
    <div style="@(_showLoadingIcon ? "visibility:hidden;" : "")">
        @ChildContent
    </div>
    @if (_showLoadingIcon)
    {
        <div class="absolute" style="top:50%; left:50%; transform:translate(-50%)">
            <LoadingIcon />
        </div>
    }
</div>

@code {
    private bool _showLoadingIcon = true;

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;

    public void HideLoadingIcon()
    {
        _showLoadingIcon = false;
        StateHasChanged();
    }
}
