::deep .list-group-item {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
}

    ::deep .list-group-item div {
        white-space: nowrap;
        overflow: hidden;
    }

    ::deep .list-group-item .col {
        padding: 0 1px;
    }

    ::deep .list-group-item .col-auto {
        padding: 0 1px;
    }

    ::deep .list-group-item .col-flex {
        padding: 0 1px;
    }

::deep .form-control {
    background-color: var(--bs-light) !important;
}

    ::deep .form-control:disabled {
        background-color: var(--bs-dark) !important;
    }

    ::deep .form-control.disabled {
        background-color: var(--bs-dark) !important;
    }

::deep .list-group-item input {
    width: 260px;
}




::deep .setting-item {
    flex-wrap:nowrap;
    white-space:nowrap;
    overflow-x:hidden;
}

    ::deep .setting-item .setting-data {
        width: 260px;
        margin-top: auto;
        margin-bottom: auto;
    }