@inject IJSRuntime JS

<div id="tokenTooltip" class="bi-info-circle px-1" style="font-size:1.5rem;" data-bs-toggle="tooltip" data-bs-html="true" data-bs-original-title="@_tooltipContent" />

@code {
    private string _tooltipContent = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("enableTooltip", "tokenTooltip");
    }

    protected override void OnInitialized()
    {
        string tokenList = string.Concat(EmailTemplatesService.AvailableTokens.Select(v => $"<li>{v}</li>"));
        _tooltipContent = $"<div>W szablonie można używać tokenów, które zostaną zastąpione wartościami specyficznymi dla danego klienta.<br/><b>Format tokena: {{nazwaTokena}}</b></div><br/><div>Dostępne tokeny: {tokenList}</div>";
    }

    protected override bool ShouldRender() => false;
}
