<MudTooltip Arrow Style="text-align:left">
    <ChildContent>
        <MudIcon Icon="@Icons.Material.Filled.Info" Size="Size.Large"/>
    </ChildContent>
    <TooltipContent>
        <MudText Typo="Typo.body1" Style="width:16rem">
            W szablonie można używać tokenów, które zostaną zastąpione wartościami specyficznymi dla danego klienta. <b>Np. {panPani}</b>
            <br /><br />Dostępne tokeny:
        </MudText>
        <ul>
            @foreach (var token in EmailTemplatesService.AvailableTokens)
            {
                <li>
                    <MudText Typo="Typo.body1">@token</MudText>
                </li>
            }
        </ul>
    </TooltipContent>
</MudTooltip>

@code {
    protected override bool ShouldRender() => false;
}
